@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #2C2C2C;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-space-grotesk), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-syncopate), sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  background: #E0C0B0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BFA090;
}

.glass-morphism {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.perspective-1000 {
  perspective: 1000px;
}