@import "tailwindcss";

:root {
  --background: #0C0C0C;
  --foreground: #E0BFB8;

  /* Font variables will be injected by Next.js */
}

body {
  color: var(--foreground);
  background: url('/background/bgimagen1.webp') no-repeat center center fixed;
  background-size: cover;
  background-color: var(--background);
  /* Fallback */
  font-family: var(--font-lato), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair-display), serif;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0C0C0C;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B76E79;
}